h1{
    margin-top: 60px;
}

.controls{
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

input{
    width: 100px;
}

.Image{
    display: flex;
    justify-content: center;
}

:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}